.pagetitleyellow{
    background-color: #FFC400;
    //width: 100%;
    padding: 35px;
    height: 15vh;
}

.tablesettings{
    margin: 20px 30px 30px;
    font-size: 10px;
    text-align: left;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }